.cover__subtitle{
  width: 360px;
  margin: 0 auto;
  height: 66px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 767px){
  .cover__subtitle{
    min-width: 288px;
    max-width: 72.9vw;
    min-height:48px;
    max-height:8.59vw;
    font-size: 14px;
    line-height: 16px;
  }
}