.lead__title{
  max-width: 720px;
  max-height: 200px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 767px){
  .lead__title{
    min-width: 288px;
    max-width: 93.75%;
    min-height: 88px;
    font-size: calc(0.125*100vw);
    line-height: calc(0.1375*100vw);
  }
}