.lead__image{
  max-width: 100%;
  display: grid;
  grid-template-rows: auto;
}
@media screen and (min-width: 928px) and (max-width: 1024px){
  .lead__image{
    max-width: 928px;
}
}
@media screen and (min-width: 1280px) {
  .lead__image{
    width: 984px;
    height: 615px;
  }
}