.intro{
  width: 100%;
}
@media screen and (min-width: 1024px){
.intro{
  min-width: 1024px;
  max-width: 76.875%;
  margin:0 auto;
  }
}
@media screen and (min-width: 1210px){
.intro{
  max-width: 76.875%;
  margin:0 auto 0 11.5625%;
  }
}