.lead__subtitle{
  margin: 32px auto 56px;
  width: 640px;
  height: 72px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 767px){
  .lead__subtitle{
    min-width: 288px;
    max-width: 83.33%;
    min-height: 40px;
    max-height: 9.375%;
    font-size: calc(0.05*100vw);
    line-height: calc(0.0625*100vw);
    margin: 5% auto 12.5%;
  } 
}
@media screen and (min-width: 600px) and (max-width:767px){
  .lead__subtitle{
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto 56px;
  } 
}